@font-face {
    font-family: OhWhale;
    src: url(oh-whale-font/OhWhale-oYZq.ttf);
}

body {
    background-image: url('images/alessandra-caretto-MsP7evMP-2w-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #795523;
    font-family: OhWhale;
    font-weight: bold;
    height: 100vh;
}

.container {
    display: grid;

    grid-template-areas:
      "header header header"
      "l-side content r-side"
      "footer footer footer";
  
    grid-template-columns: 25% 1fr 25%;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;  
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* todo: remove from final */
    border: 1px solid black;
}

.active {
    /* background: linear-gradient(to bottom, #fdfdfd, #828282); */
    background-image: url('images/kisspng-adobe-illustrator-download-floating-starfish-5a74b192b92331.9764207515175970747583.png');
    background-size: cover;
}

.players-left {
    grid-area: l-side;
    margin-left: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    /* todo: remove from final */
    border: 1px solid black;

    /* background-size: 550px 514px;
    background-position: -35px -40px; */
}

main {
    grid-area: content;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    /* todo: remove from final */
    border: 1px solid black;
}

.board {
    margin: 15px;
    /* todo: remove from final */
    /* border: 1px solid black; */
}

.board .draw {
    margin: 0 auto;
}

.operators {
    margin: 15px;
    /* todo: remove from final */
    /* border: 1px solid black; */
}

.players-right {
    grid-area: r-side;
    margin-right: 0.5rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    /* todo: remove from final */
    border: 1px solid black;
}

.vistory-announcement {
    /* todo: remove from final */
    /* border: 1px solid black;     */
}

.player-area {
    /* todo: remove from final */
    /* border: 1px solid black;     */
}

.score-area {
    /* todo: remove from final */
    /* border: 1px solid black; */
}

footer {
    grid-area: footer;
    /* todo: remove from final */
    border: 1px solid black;
}

.btn-new-game, .show-settings{
    border: none;
    border-radius: 15%;
    font-family: OhWhale;
    font-weight: bold;
    font-size: x-large;
    color: #795523;
    background-color: #00000000;
}


.players-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.settings {
    width: 95%;
}
.player-left-settings, .player-right-settings {
    width: 40%;
}

.player-left-settings .player-name, .player-right-settings .player-name{
    width: 100%;
}


.multy-turn-lb {
    display: block;
}

.multy-turn-ckb {
    float: left;
}

.turns-input {

}

.players-token-settings {
    /* margin: 0 auto; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.reverse img{
    width: 50px;
}

.players-left .token {
    width: 50px;
}

.players-right .token {
    width: 50px;
}

.players-left, .players-right {
    font-size: xx-large;
}

.coin-flip {
    margin: 10px;
}
  
.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-1 {
    justify-self: end;
}

.c-2 {
    justify-self: start;
}

.c-3 {
    justify-self: start;
}

.cell {
    width: 100px;
    height: 100px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.bottom-cell {
    border-bottom: 1px solid black;
}

.side-cell {
    border-right: 1px solid black;
}

.unvisible {
    display: none;
}

@media (max-width: 768px) {
    .container {
        grid-template-areas:
            "header"
            "l-side"
            "r-side"
            "content"
            "footer";
  
        grid-template-columns: 1fr;
        grid-template-rows:
            auto /* Header */
            minmax(75px, auto) /* l-side */
            minmax(75px, auto) /* r-side */
            1fr /* Content */
            auto; /* Footer */
    }
  
    .players-left, .players-right {
        margin: 0;
        display: flex;
        flex-direction: row;
        font-size: x-large;
        justify-content: center;
    }

    /* .vistory-announcement {
        order: -1;
    } */

    .token-area {
        order: 0;
    }
    .score-area{
        order: 2;
    }

    .player-area {
        order: -1;
    }

    .active {
        /* background: linear-gradient(to bottom, #fdfdfd, #828282); */
        background-image: url('images/active-small.png');
        background-size: contain;
    }
}